################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Innosuisse.Startupticker.WebApp/innosuisse.startupticker.webapp.client/obj/Debug
/Innosuisse.Startupticker.WebApp/Innosuisse.Startupticker.WebApp.Server/bin/Debug/net9.0
/Innosuisse.Startupticker.WebApp/Innosuisse.Startupticker.WebApp.Server/obj
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/v17/DocumentLayout.json
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/v17/DocumentLayout.backup.json
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/DesignTimeBuild/.dtbcache.v2
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex/0e53ef57-9dba-4680-bac6-e6a54891d2c8.vsidx
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex/16558d53-b8ae-4f32-b33e-632138d2a93b.vsidx
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex/32c54dc0-7649-4e20-af23-9107ef5192fa.vsidx
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex/3ad4a56b-9872-4f89-b1e8-f75b2d1d173b.vsidx
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex/ec3083dd-d781-4a2f-a6ec-fe3c513ea17b.vsidx
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/v17/.suo
/Innosuisse.Startupticker.WebApp/.vs/Innosuisse.Startupticker.WebApp/FileContentIndex
/Innosuisse.Startupticker.WebApp/.vs
/.vs